@import "./fonts.css";

:root {
  --color-text: #18121e;
  --color-bg: #ffffff;
  --color-section: #f3f5f4;
  --color-accent-primary: #f2be22;
  --color-accent-secondary: #1a3e3e;
  --color-accent-support: #fdfdfd;
}

body {
  font-family: "Nunito Sans", sans-serif;
  font-size: 18px;
  color: var(--color-text);
  background: var(--color-bg);
  margin: 0;
}

h1 {
  font-family: "Nunito Sans", sans-serif;
  font-size: 32px;
  color: var(--color-text);
  line-height: 120%;
  font-weight: 800;
}

h2 {
  font-family: "Nunito Sans", sans-serif;
  font-size: 24px;
  color: var(--color-accent-primary);
  line-height: 20px;
}

h3 {
  font-family: "Nunito Sans", sans-serif;
  font-size: 18px;
  color: var(--color-text);
  line-height: 20px;
  letter-spacing: 0.012em;
  font-weight: 700;
}
